.container {
  display: flex;
  flex-direction: row;
}

.library {
  display: flex;
  flex-grow: 1;
  background-color: #ccffcc;

  flex-direction: column;

  li {
    flex-grow: 1;
  }
}

.combatants {
  display: flex;
  flex-grow: 1;
  background-color: #ffcccc;

  flex-direction: column;

  li {
    flex-grow: 1;
  }
}
